* {
  margin: 0;
  padding: 0;
}

.all.fixed {
  overflow-x: hidden;
  width: 100%;
}

.navphone {
  background: white;
  display: flex;
  justify-content: flex-end;
}

nav img {
  position: absolute;
  padding: 10px;
  margin-right: 30px;
  margin-top: 15px;
}

.section-spacing {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./images/header-illsutration-mobile.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  margin-top: 32px;
}

.introduction {
  text-align: center;
  padding-top: 15px;
  width: 85%;
}

.texts {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.welcome {
  padding: 0 16px;
  line-height: 52px;
}

.welcome,
.green,
.profession {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  color: #172b4d;
}

.green {
  color: #36b37e;
}

.profession {
  font-size: 20px;
  line-height: 28px;
  padding: 0 24px;
  margin-top: 24px;
}

.socialmedia-phone ul {
  display: flex;
  justify-content: center;
  gap: 16px;
  list-style: none;
  padding-top: 30px;
  margin-bottom: 50px;
}

.socialmedia-phone li {
  text-decoration: none;
  list-style: none;
}

.socialmedia-phone img {
  padding: 3.2px;
  font-size: 64px;
}

.socialmedia-desktop ul {
  display: none;
}

.scroll {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.works {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.works-flex {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.recent-works h2 {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  text-align: center;
  color: #172b4d;
  margin: 17px;
}

.indicator {
  margin: 7px 150px;
  width: 48px;
  height: 4px;
}

.individual-cards {
  display: flex;
  flex-direction: column;
  background-color: white;
}

.individual-card-item-grid {
  display: grid;
  grid-column-gap: 24px;
  padding: 4px 2px;
}

.individual-card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 16px 0;
  border-radius: 8px;
  margin-top: 252px;
  height: 190px;
}

.individual-card-item h3 {
  font-size: 24px;
  font-family: 'Inter', sans-serif;
  text-align: center;
  color: #3a4a42;
  line-height: 32px;
  font-weight: 600;
}

.card-work-item {
  background-color: #ebf0ee;
  margin: 12px 0;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.languages {
  display: flex;
  gap: 8px;
  justify-content: space-between;
  list-style: none;
  padding-top: 16px;
  font-size: 12px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 3%;
  color: #3a4a42;
}

.individual-card-item ul li {
  border-radius: 4px;
  background: #ebf0ee;
  padding: 8px 11.3px;
}

.wrapper {
  color: white;
  background-color: #36b37f;
  font-size: 17px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  line-height: 24px;
  border-radius: 4px;
  margin-top: 13px;
  padding: 12px;
  border: none;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  width: 100%;
}

.about-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 58px;
}

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./images/illustration-\ about\ me-\ mobile.svg), url(./images/illustration\ 1-\ about\ me-mobile.svg);
  background-position: left bottom, right top;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
}

.about-me h2 {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
}

.about-me p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #42526e;
  padding: 6.4px;
  margin: 24px;
}

.about-me-skils {
  display: grid;
  width: 85%;
}

.individual-card-item a,
.about-me a {
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-family: 'Inter', sans-serif;
}

.worklanguages,
.frameworks,
.skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ebf0ee;
  margin: 12px 0;
  padding: 22px 0;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.worklanguages h3,
.frameworks h3,
.skills h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #344563;
}

.lang-tags ul,
.frameworks-tags ul,
.skills-tags ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 8px;
  column-gap: 8px;
  margin: 20px 16px;
  color: #36b37e;
  list-style: none;
}

.lang-tags ul li,
.frameworks-tags ul li,
.skills-tags ul li {
  font-size: 12px;
  line-height: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  letter-spacing: 3%;
  background: white;
  border: 10px solid white;
  border-radius: 8px;
}

.wrapper:visited {
  background-color: #008552;
}

.wrapper:active,
.wrapper:hover {
  transition: 0.5s;
  box-shadow: 0 8px 16px 0 #36b37f3d;
}

.contact-me {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 24px;
  background-image: url(/images/Frame.svg);
  background-position: right bottom;
  background-repeat: no-repeat;
  width: 100%;
}

.contact-me h2 {
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  color: #172b4d;
  padding: 24px;
}

.contactform {
  padding: 24px;
}

.input-flex {
  display: none;
}

#fname,
#email {
  width: 94.5%;
  border-radius: 4px;
  border: 1px solid #d0d9d4;
  padding: 15px 0 15px 16px;
  font-family: 'Inter', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  text-align: left;
}

.contact-me textarea {
  width: 95.7%;
  border-radius: 4px;
  border: 1px solid #60c095;
  padding: 12px 0 52px 12px;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #42526e;
}

.mail {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  color: #42526e;
}

.footer {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .navdesktop {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .section-spacing {
    background-image: url(/images/Header-llustration-desktop.svg);
    margin-top: -48px;
  }

  .introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 160px 0;
    width: 80%;
  }

  .navphone,
  .indicator,
  .mail {
    display: none;
  }

  .navdesktop {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 20px;
    color: #344563;
  }

  a.navlinks {
    text-decoration: none;
    padding: 0 10px;
    color: #172b4d;
  }

  .socialmedia-phone {
    display: none;
  }

  .socialmedia-desktop ul {
    display: flex;
    justify-content: center;
    gap: 16px;
    list-style: none;
    padding-top: 30px;
    margin-bottom: 50px;
  }

  .socialmedia-desktop li {
    text-decoration: none;
    list-style: none;
  }

  .socialmedia-desktop img {
    padding: 3.2px;
    font-size: 64px;
  }

  .profession,
  .about-me p {
    margin: 24px 148px 0 148px;
    line-height: 32px;
  }

  .scroll {
    margin-bottom: 200px;
  }

  .works {
    padding: 80px 0;
  }

  .works-flex {
    gap: 48px;
  }

  .individual-card-item-grid {
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
  }

  .card-work-item {
    margin: 12px 0;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;
  }

  .card-work-item:active,
  .card-work-item:hover {
    box-shadow: 0 0 20px #36b37f3d;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
  }

  .individual-card-item h3 {
    color: #172b4d;
  }

  .individual-card-item .wrapper {
    margin-left: 0;
  }

  .languages {
    margin: 0;
    text-align: center;
    color: #172b4d;
  }

  .languages li {
    margin: 4px;
  }

  .about-flex {
    gap: 48px;
    padding: 80px, 0, 1px, 0;
    width: 85%;
  }

  .about {
    background-image: url(/images/leftabo.png), url(/images/rightabo.png);
    background-repeat: no-repeat;
    background-position: left 200px, right top;
    padding-top: 0;
  }

  .about-me button {
    margin-top: 24px;
  }

  .about-me {
    width: 91%;
    background-image: none;
    margin-top: 100px;
  }

  .about-me-skils {
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 50px;
    width: 100%;
  }

  .worklanguages,
  .frameworks,
  .skills {
    margin: 12px 12px;
    padding: 32px 10px;
  }

  .worklanguages h3,
  .frameworks h3,
  .skills h3 {
    line-height: 32px;
  }

  .lang-tags ul,
  .frameworks-tags ul,
  .skills-tags ul {
    margin: 24px 14px 0 14px;
  }

  .lang-tags ul li,
  .frameworks-tags ul li,
  .skills-tags ul li {
    padding: 12px;
    border: 1px solid white;
    text-align: center;
  }

  .contact-me {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 80px 0 250px 0;
    background-image: url(/images/Leftcon.svg), url(/images/middlecon.svg), url(/images/Rightcon.svg);
    background-position: left 330px, 274px 500px, right 180px;
  }

  .contact-flex {
    display: flex;
    align-items: center;
    text-align: left;
    width: 85%;
  }

  .contact-me h2 {
    width: 40%;
    font-size: 30px;
    padding: 0;
    text-align: left;
  }

  .contactform {
    width: 60%;
    padding: 0;
  }

  .contact-me input {
    width: 96%;
  }

  .contact-me textarea {
    width: 97%;
  }

  #fname {
    display: none;
  }

  .input-flex {
    display: flex;
    gap: 12px;
  }

  #firstname,
  #lastname,
  #email {
    width: 96%;
    border-radius: 4px;
    border: 1px solid #d0d9d4;
    padding: 15px 0 15px 16px;
    font-family: 'Inter', sans-serif;
    font-style: italic;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    text-align: left;
  }

  #firstname,
  #lastname {
    width: 45%;
  }

  .footer {
    border-top: 1px solid #dfe1e6;
  }
}
